venv
.idea/
.git
**/__pycache__/
**/.ipynb_checkpoints/

data/original_data/articles/*.pdf
data/original_data/mydict/*.pdf

data/processed_data/articles/*.txt
data/processed_data/mydict/*.txt
data/processed_data/test_folder/*.txt

data/clear_text.txt